.spell {
    line-height: 1.4em;
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 34px;
    padding-bottom: 34px;
}

.spell h2,
.spell h3,
.spell p {
    margin-bottom: 7px;
}

.spell h2 {
    margin-bottom: 0;
}

.spell h3 {
    font-size: 9pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
}

.spell p span.comma:last-child {
    display: none;
}

.term {
    background-color: #ff6;
    color: #000;
}

.drop-target {
    position: absolute;
    box-sizing: border-box;

    top: 50%;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    margin-top: -80px;
    padding: 40px 0;

    border: solid 1px #ccc;
    border-radius: 10px;

    text-align: center;
}