.panel-nav a.active {
    cursor: default;
}

.list-nav a {
    display: block;
}

.spell {
    line-height: 1.4em;
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 34px;
    padding-bottom: 34px;

    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.spell:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.spell h2,
.spell h3,
.spell p {
    margin-bottom: 7px;
}

.spell h2 {
    margin-bottom: 0;

    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    cursor: text;
}

.spell h3 {
    opacity: 0.5;

    font-size: 9pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    cursor: text;
}

.spell p span.comma:last-child {
    display: none;
}

.term {
    background-color: #ff6;
    color: #000;
}

.drop-target {
    position: absolute;
    box-sizing: border-box;

    top: 50%;
    left: 50%;
    width: 280px;
    margin-left: -140px;
    margin-top: -80px;
    padding: 40px 0;

    border: solid 1px #ccc;
    border-radius: 10px;

    text-align: center;
}

.table-inventory input,
.table-inventory button {
    box-shadow: none;
    display: block;
    width: 100%;
}

.input-row td {
    padding: 0 !important;
}

.item-value span:last-child {
    display: none;
}

.item-value:hover span:last-child {
    display: block;
}

.item-value:hover span:first-child {
    display: none;
}

th a {
    color: #fff;
}

.panel-body.panel-body-padded.panel-toggle-group {
    position: absolute;
    box-sizing: border-box;
    top: 79px;
    right: 17px;
    border:solid 1px #dadee1;
    background-color: rgba(255,255,255,.95);
    z-index: 1;
    padding-bottom: 7px;
    width: 38%;
    opacity: 0.35;
    margin-right: -25%;
    transition: all 150ms ease-in-out;
}


.panel-body.panel-body-padded.panel-toggle-group:hover {
    opacity: 1;
    margin-right: 0;
}

.panel-toggle-group .input-group {
    float: left;
    margin-right: 10px;
}